<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MyPetConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\MyPet.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>

    <anonymousIdentification enabled="true"/>
    <profile>
      <properties>
        <group name="Cart">
          <add name="id" type="System.Collections.ArrayList" allowAnonymous="true"/>
          <add name="name" type="System.Collections.ArrayList" allowAnonymous="true"/>
          <add name="kind" type="System.Collections.ArrayList" allowAnonymous="true"/>
          <add name="price" type="System.Collections.ArrayList" allowAnonymous="true"/>
          <add name="totalPrice" allowAnonymous="true"/>
          <add name="qty" type="System.Collections.ArrayList" allowAnonymous="true"/>
          <!--<add name="sex" type="System.Collections.ArrayList" allowAnonymous="true"/>-->
        </group>
      </properties>
    </profile>
    
    <roleManager enabled="true" />
    <authentication mode="Forms">
      <forms loginUrl="index/login.aspx" defaultUrl="index/shopcenter.aspx" />
    </authentication>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>