* {
            font-family: 隶书;
        }
        [title~=attr] {
            color:#000080;
        }
        [title*=attribute] {
            color:#000080;
        }
        p {
            color:#000080;
        }
        .classTest {
            color:#000080;
        }
        #divTest {
            color:#000080;
        }